.WorldCupPage{
    display:grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 5fr auto;
    border: 1px solid black;

    .year-name-section{
        grid-column: 1 span;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        padding: 10px;

        position: relative;
        font-weight: bolder;
        text-shadow: 8px 8px 16px rgba(0, 0, 1, 0.5);
        animation: zoomInOut 4s infinite alternate;
    }

    .logo-section{
        grid-column: 1 span;
        border: 2px solid black;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        font-weight: bolder;
        text-shadow: 8px 8px 16px rgba(0, 0, 1, 0.5);
        animation: zoomInOut 4s infinite alternate;
    }
}