.LatestWorldCupTile{
    display: grid;
    grid-template-columns: 80% 10%;

}
.detail-link-container {

    margin-left: 5px;
    margin-top: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;

    border-radius: 1rem;
    border: none;
    background-color: #6c00f8;
    color: #fff;
    font-size: 1rem;

    width:130px;
    height:50px;

}

.LatestWorldCupTile:hover .detail-link-container {
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
}

.LatestWorldCupTile-card-tile{
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.5fr 0.6fr 0.3fr;
    grid-template-rows: auto auto;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    margin-top: 20px;
    margin-bottom:10px;
    margin-left:30px;

    border-radius: 20px;
    box-shadow: 0 2px 4px;
    background-color: white;

    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    overflow: visible;


    .year-section{
        grid-row: 2 span;
        grid-column: 1 span;
        margin-left: 20px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        font-size: 1.5em;
        text-shadow: 8px 8px 16px rgba(0, 0, 1, 0.5);

    }
    .team-logo-section{
        grid-column: 1 span;
        margin: 20px 0 0 20px;
        width:90%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .winner-logo{
            box-shadow: rgba(67, 89, 113, 0.2) 0 2px 6px 0;
            border-radius: 1rem;
        }
    }

    .winner-section{
        font-size: 1rem;
        margin-top: 30px;

        .winner-team-name{
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }
    .runner-up-section{

        font-size: 1rem;
        align-items: center;
        margin-top: 10px;

        .runner-up-team-name {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin: 5px;
        }

        .winner-logo{
            box-shadow: rgba(67, 89, 113, 0.2) 0 2px 6px 0;
            border-radius: 0.4rem;
            width: 50px;
            margin-top:10px;
        }
    }


    .icon-section{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 1.5rem;
        margin-top: 30px;
        height: 60px;
        width: 50px;
        cursor: pointer;

    }


    .hidden-content{
        max-height: 0;
        overflow: hidden;
        margin:10px;
    }

    .reveal-content{
        max-height: 1000px;
        margin: 20px 20px 20px 20px;
    }


    .reveal-content{
        grid-column: 4 span;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        transition: max-height 0.4s ease-in-out;




        .winner-logo{
            box-shadow: rgba(67, 89, 113, 0.2) 0 2px 6px 0;
            border-radius: 0.4rem;
            width: 70px;
            margin-bottom:10px;
        }

        .section-text{
            grid-column: 2 span;
            grid-row: 1 span;
            margin:10px;


            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            font-size:1.2rem;

        }
        .section-text-teamName{
            grid-column: 1 span;
            grid-row: 1 span;
            margin-bottom:15px;

            display: flex;
            align-items: center;
            justify-content: center;
            font-size:1.5rem;

        }

        .third-place-section{
            grid-column: 1 span;
            grid-row: 1 span;
            margin-top:20px;
            margin-right:10px;

            display: grid;
            grid-template-columns: 50% auto;
            grid-template-rows: 0.1fr auto;

            border-radius: 20px;
            box-shadow: 0 2px 4px;

        }

        .fourth-place-section{
            grid-column: 1 span;
            grid-row: 1 span;
            margin-top:20px;
            margin-left:10px;

            display: grid;
            grid-template-columns: 50% auto;
            grid-template-rows: 0.1fr auto;

            border-radius: 20px;
            box-shadow: 0 2px 4px;
        }
        .host-section{
            grid-column: 2 span;
            grid-row: 1 span;
            margin:10px;

            display: flex;
            align-items: center;
            justify-content: center;
            font-size:1.4rem;

            .host-text{
                width: 200px;
                border-radius: 20px;
                box-shadow: 0 2px 4px;

            }
        }
        .first-content{
            grid-column: 1 span;
            grid-row: 2 span;
            margin-right:10px;

            font-size:1rem;
            border-radius: 20px;
            box-shadow: 0 2px 4px;

            .text{
                margin:10px;
            }

        }

        .second-content{
            grid-column: 1 span;
            grid-row: 2 span;
            margin-left:10px;

            font-size:1rem;
            border-radius: 20px;
            box-shadow: 0 2px 4px;

            .text{
                margin-top:10px;
            }
        }

    }

}

.LatestWorldCupTile-card-tile:hover{

    transform: translateY(-7px);
    box-shadow: 0 10px 10px black;
    transition: 0.5s;
}